h1 {
    color: rgb(0, 253, 21);
    margin-bottom: 20px;
}
p {
    color: blue;
    font-size: 18px;
}
input {
    border: 1px solid black;
    padding: 5px;
}
button {
    background-color: rgb(28, 167, 185);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {    
    background-color: darkgreen;
}